<h1>What's news ?!</h1>

<br>

<div class="card">
  <div class="card-body">
    <% @announcements.each_with_index do |announcement, index| %>
      <% if index != 0 %>
        <div class="row"><div class="col"><hr /></div></div>
      <% end %>

      <div class="row announcement" id="<%= dom_id(announcement) %>">
        <div class="col-sm-1 text-center">
            <strong><%= announcement.published_at.strftime("%b %d") %></strong>
        </div>
        <div class="col">
          <h4 class="<%= announcement_class(announcement.announcement_type) %>"><%= announcement.name %></h4>
          <br>
          <%= simple_format announcement.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>